img
	{
		max-width: 50%;
		margin-top: 10px;
		margin-bottom: 10px;
		border-color: black;
		border-radius: 25px;
		outline-width: 2.5px;
		outline-color:black;
		outline-style:solid;
	}

#menu
	{
		background-color: #D5D5D5;
		height: 32.5px;
		padding: 2.25px;
		border-right-width: 568px;
		border-radius: 22.5px;
		font-size: 15px;
		font-weight: 10px;
		font-family: Tahoma;
		text-indent: 2.5px;
	}
a
	{
		color:blue;
		text-decoration: none;
		transition-duration: 0.175s;
	}

a:hover
	{
		color:#88AAFF;
	}

body
	{
		background-image: radial-gradient(white 10%, #ABB8E6 90%);
		font-size: 14.2px;
		font-family: Trebuchet MS;
		margin-left: 284px;
		margin-right: 284px;
		padding-left: 7.1px;
		padding-right: 7.1px;
		padding-top: 7.1px;
		padding-bottom: 7.px;
		border-radius: 7.1px;
	}

code
	{
		background-color:#ececec;
		font-size: 16px;
	}
.date
	{
		margin-left:280px
	}

html::-webkit-scrollbar 
	{
		display: none;
	}

		
ul
	{
		display: inline;
	}

li
	{
		list-style:none;
	}

#transparent
	{
		opacity: 0;
	}

table, th, td
	{
		font-size: 18px;
		border-width: 2.5px;
		border-style: solid;
		text-align:center;
		width: 781px;
		height:50px;
		border-color: black;	
	}

#note
{
	font-style: italic;
	text-decoration:underline;
}

#note::before
{
	content: "NOTE:";
}
sub, sup
{
	font-size:10px;
}